{% assign cost_difference_to_avail_offer = 3500 %}
{% liquid 
    assign offer_on_product = false
    assign total_offerProduct_price = 0
    for item in cart.items
        for coll in item.product.collections 
        if coll == settings.offer_collection 
            assign offer_on_product = true
            assign total_offerProduct_price = total_offerProduct_price | plus: item.final_line_price
        endif 
        endfor 
    endfor 
%}
{% assign cost_difference_to_avail_offer = cost_difference_to_avail_offer | minus: total_offerProduct_price %}
<div class="mystery_gift_offer_container">
    {% if settings.start_mystery_gift_offer %}
    {% if offer_on_product == true %}
        {% if cost_difference_to_avail_offer > 0 %}
        {% if template == 'cart' %}
            {% style %}
                .mystery_gift_offer{
                margin: 1em 0;
                }
            {% endstyle %}
        {% endif %}
        {% if settings.cart_type contains 'drawer' and template != 'cart' %}
            {% style %}
                .mystery_gift_offer{
                    margin: 1em 25px;
                }
            {% endstyle %}
        {% endif %}
        <div class="mystery_gift_offer">
            <div class="offer_title">
            {% if settings.offer_svg != blank %}
                {{ settings.offer_svg }}
            {% endif %}
            <span class="title"><p>Don’t miss your Free Mystery Gift</p></span>
            </div>
            <div class="offer_description">
            <span class="description"><p>Purchase chill vapes for <strong>{{ cost_difference_to_avail_offer | money }}</strong> more to avail your free mystery gift. </p></span>
            </div>
            <div class="offer_cta">
            {% if settings.offer_cta_url != blank %}
                <a href="{{ settings.offer_cta_url }}" class="redirection_cta"><button style="background: {{ settings.offer_cta_background_color }}; border: 1px solid {{settings.offer_cta_background_color}};">Get it now</button></a>
            {% endif %}
            <p class="offer_terms_and_conditions">*offer valid only for chill vape products cart value</p>
            </div>
        </div>
        {% endif %}
    {% else %}
        <div class="mystery_gift_offer">
            <div class="offer_title">
            {% if settings.offer_svg != blank %}
                {{ settings.offer_svg }}
            {% endif %}
            <span class="title">{{ settings.offer_title }}</span>
            </div>
            <div class="offer_description">
            <span class="description">{{ settings.offer_description }}</span>
            </div>
            <div class="offer_cta">
            {% if settings.offer_cta_url != blank %}
                <a href="{{ settings.offer_cta_url }}" class="redirection_cta"><button style="background: {{ settings.offer_cta_background_color }}; border: 1px solid {{settings.offer_cta_background_color}};">Get it now</button></a>
            {% endif %}
            <p class="offer_terms_and_conditions">*offer valid only for chill vape products cart value</p>
            </div>
        </div>
    {% endif %}
    {% endif %}
</div>