<span class="product-label-list">
  {%- for variant in product.variants -%}
    <script id="variant-label-{{ product.id }}-{{ variant.id }}" type="text/template">
      {%- capture variant_html_tags -%}

          {%- liquid
          assign sale_label_text = false
          if settings.prod_reduction_show and variant.compare_at_price > variant.price
              if settings.prod_reduction_type == 'percent'
              assign amount = 1.0 | times: variant.price | divided_by: variant.compare_at_price
              assign amount = 1.0 | minus: amount
              assign amount = amount | times: 100.0 | round
              assign sale_label_text = 'products.labels.percent_reduction' | t: amount: amount
              else
              assign amount = variant.compare_at_price | minus: variant.price | money
              assign sale_label_text = 'products.labels.value_reduction_html' | t: amount: amount
              endif
          endif
          -%}
          {% unless settings.prod_sold_out_show and product.available == false %}
            {%- if sale_label_text -%}
              <div class="product-tags__wrapper">
                <span class="product-tag product-tag--sale">
                    <span>{{ sale_label_text }}</span>
                    <span class="bold_text"> OFF</span>
                </span>
              </div>
            {%- endif -%} 
          {%- endunless -%}
      {%- endcapture -%}

      {%- if variant_html_tags != blank -%}
        <div class="product-tags">
          {{- variant_html_tags -}}
        </div>
      {%- endif -%}
    </script>

    {%- if variant.id == current_variant.id and variant_html_tags -%}
      <div class="product-tags">
        {{- variant_html_tags -}}
      </div>
    {%- endif -%}
  {%- endfor -%}
  {%- if product.metafields.custom.product_sale_tag != blank -%}
    <div class="product_sale-tag-pdp">{{ product.metafields.custom.product_sale_tag }}</div>
  {% endif %}
</span>