{%- assign mobile_expand_with_entire_link = true -%}

{% style %}
  .logo img {
    width: {{ section.settings.logo_img_width_int }}px;
  }
  .logo-area__middle--logo-image {
    max-width: {{ section.settings.logo_img_width_int }}px;
  }
  @media(max-width: 767.98px) {
    .logo img {
      width: {{ section.settings.mobile_logo_img_width_int }}px;
    }
  }
  {% if section.settings.enable_sticky %}
    .section-header {
      position: -webkit-sticky;
      position: sticky;
    }
  {%- endif - %}
  {%- if section.settings.enable_transparent and template.name == 'index' %}
    .section-header {
      margin-bottom: calc(var(--theme-header-height) * -1);
      --transparent-header-text-color: {{ section.settings.transparent_color }};
    }
    .section-store-messages {
      display: none;
    }
    #content .shopify-section:first-child .overlay-text {
      top: var(--theme-header-height);
    }
  {%- endif - %}
{% endstyle %}

{%- if template == 'gift_card' -%}

  {% comment %}
    Gift card template logo
  {% endcomment %}
  <meta itemprop="url" content="{{ shop.url }}">
  <meta itemprop="name" content="{{ shop.name }}">
  {%- if section.settings.logo != blank -%}
    <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
      {% capture img_size %}
        {{ section.settings.logo_img_width_int | times: 2 }}
        x{% endcapture %}
      <img src="{{ section.settings.logo | img_url: img_size }}" alt="{{ section.settings.logo.alt | escape }}" itemprop="logo" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"/>
    </h1>
  {%- else -%}
    <h1>{{ shop.name }}
    </h1>
  {%- endif -%}

{%- else -%}

  {%- assign featured_links = section.settings.nav_featured_link | split: ', ' -%}
  <div id="coverScreen">
    <div class="loader"></div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      $('#coverScreen').hide();
    })
  </script>
  <div data-section-type="header" data-cc-animate>
    <div id="pageheader" class="pageheader pageheader--layout-{{ section.settings.menu_layout }}{% if section.settings.enable_transparent and template.name == 'index' %} pageheader--transparent-permitted pageheader--transparent{% endif %}{% if section.settings.enable_sticky %} pageheader--sticky{% endif %}">
      <div class="logo-area container container--no-max">
        <div class="logo-area__left">
          <div class="logo-area__left__inner">
            <button class="button notabutton mobile-nav-toggle" aria-label="{{ 'general.navigation.menu_toggle_aria_label' | t | escape }}" aria-controls="main-nav">
              {%- render 'svg-menu' -%}
            </button>
            {% if section.settings.enable_search %}
              <a class="show-search-link" href="{{ routes.search_url }}" aria-label="{{ 'layout.search.open' | t }}">
                <span class="show-search-link__icon">
                  {%- render 'svg-search' -%}
                </span>
                <span class="show-search-link__text{% if section.settings.icon_strategy == 'icons_only' %} visually-hidden{% endif %}">
                  {{- 'layout.search.open' | t -}}
                </span>
              </a>
            {% endif %}
            {% if section.settings.menu_layout contains 'inline' %}
              <div class="navigation navigation--left" role="navigation" aria-label="{{ 'general.navigation.main_navigation_aria_label' | t | escape }}">
                <div class="navigation__tier-1-container">
                  <ul class="navigation__tier-1">
                    {% for link in linklists[section.settings.menu_linklist].links %}
                      {%- liquid
                        assign has_dropdown = false
                        if link.links != blank
                          assign has_dropdown = true
                        endif
                        assign use_columns = false
                        if link.levels >= 2
                          assign use_columns = true
                        else
                          assign link_title_sanitised = link.title | downcase | strip
                          for block in section.blocks
                            assign dropdown_link_title_sanitised = block.settings.dropdown_link_title | downcase | strip
                            if dropdown_link_title_sanitised == link_title_sanitised
                              assign use_columns = true
                              assign has_dropdown = true
                            endif
                          endfor
                        endif
                      -%}
                      <li class="navigation__item{% if has_dropdown %} navigation__item--with-children {% if use_columns %}navigation__item--with-mega-menu{% else %}navigation__item--with-small-menu{% endif %}{% endif %}{% if featured_links contains link.title %} featured-link{% endif %}{% if link.active %} navigation__item--active{% endif %}">
                        <a href="{{ link.url }}" class="navigation__link" {% if has_dropdown %}aria-haspopup="true"aria-expanded="false"aria-controls="NavigationTier2-{{ forloop.index }}"{% endif %} onclick="$('#coverScreen').show(); document.body.style.overflow='hidden';">
                          {{- link.title | escape -}}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        <div class="logo-area__middle logo-area__middle--logo-{% if section.settings.logo != blank %}image{% else %}text{% endif %}">
          <div class="logo-area__middle__inner">
            <div class="logo">
              {%- if request.page_type == 'index' and section.settings.logo_h1 -%}
                <h1 class="logo__h1">
                {%- endif -%}

                <a class="logo__link" href="{{ routes.root_url }}" onclick="$('#coverScreen').show(); document.body.style.overflow='hidden';" title="{{ shop.name }}">
                  {%- if section.settings.logo != blank -%}
                    {%- capture img_size -%}
                      {{ section.settings.logo_img_width_int | times: 2 }}
                      x{%- endcapture -%}
                    {%- comment -%}
                      <img class="logo__image" src="{{ section.settings.logo | img_url: img_size }}" alt="{{ section.settings.logo.alt | default: shop.name | escape }}" itemprop="logo" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"/>
                    {%- endcomment -%}
                    <svg xmlns="http://www.w3.org/2000/svg" width="232.676" height="49.349" viewBox="0 0 232.676 49.349" class="logo_svg">
                      <g id="Layer_1" transform="translate(-56.3 -144.7)">
                        <g id="Group_629" data-name="Group 629" transform="translate(111.421 144.7)">
                          <path id="Path_8782" data-name="Path 8782" d="M308.635,155.33a8.253,8.253,0,0,0-7.215,3.8q-2.6,3.788-2.6,10.461,0,13.852,10.534,13.852a21.344,21.344,0,0,0,6.181-.89,62.169,62.169,0,0,0,6.012-2.14v10.966a33.174,33.174,0,0,1-13.588,2.669q-10.858,0-16.666-6.3t-5.8-18.229a29.048,29.048,0,0,1,2.814-13.107,20.04,20.04,0,0,1,8.081-8.682A24.457,24.457,0,0,1,308.8,144.7a34.133,34.133,0,0,1,14.886,3.391l-3.968,10.221a41.912,41.912,0,0,0-5.315-2.092A18.24,18.24,0,0,0,308.635,155.33Z" transform="translate(-285.5 -144.7)" fill="#9792e4"/>
                          <path id="Path_8783" data-name="Path 8783" d="M501.548,195.526H488.513V175.95H473.435v19.576H460.4V147.5h13.035v17.8h15.079V147.5h13.035Z" transform="translate(-418.338 -146.827)" fill="#9792e4"/>
                          <path id="Path_8784" data-name="Path 8784" d="M660.7,195.526V147.5h13.035v48.026Z" transform="translate(-570.467 -146.827)" fill="#9792e4"/>
                          <path id="Path_8785" data-name="Path 8785" d="M744.1,195.526V147.5h12.987v37.541H775.58v10.485Z" transform="translate(-633.81 -146.827)" fill="#9792e4"/>
                          <path id="Path_8786" data-name="Path 8786" d="M892.9,195.526V147.5h12.987v37.541H924.38v10.485Z" transform="translate(-746.825 -146.827)" fill="#9792e4"/>
                        </g>
                        <g id="Group_630" data-name="Group 630" transform="translate(263.748 184.694)">
                          <path id="Path_8787" data-name="Path 8787" d="M918.9,334.394a.8.8,0,0,1,.216-.6.791.791,0,0,1,.6-.192.8.8,0,0,1,.6.216.878.878,0,0,1,0,1.154.943.943,0,0,1-1.2,0A.71.71,0,0,1,918.9,334.394Z" transform="translate(-918.9 -328.165)" fill="#9792e4"/>
                          <path id="Path_8788" data-name="Path 8788" d="M931.323,312.2a1.418,1.418,0,0,0-1.251.6,2.938,2.938,0,0,0-.457,1.708c0,1.515.577,2.285,1.708,2.285a5.3,5.3,0,0,0,1.732-.361v1.2a4.661,4.661,0,0,1-1.876.361,2.886,2.886,0,0,1-2.285-.89,3.812,3.812,0,0,1-.794-2.6,4.114,4.114,0,0,1,.385-1.852,2.887,2.887,0,0,1,1.106-1.227A3.276,3.276,0,0,1,931.3,311a4.761,4.761,0,0,1,2,.481l-.457,1.178c-.264-.12-.505-.216-.77-.313A1.65,1.65,0,0,0,931.323,312.2Z" transform="translate(-925.887 -311)" fill="#9792e4"/>
                          <path id="Path_8789" data-name="Path 8789" d="M957.993,314.487a3.706,3.706,0,0,1-.842,2.6,3.621,3.621,0,0,1-4.81,0,4.428,4.428,0,0,1,0-5.195,3.658,3.658,0,0,1,4.81.024A3.6,3.6,0,0,1,957.993,314.487Zm-4.978,0a2.79,2.79,0,0,0,.433,1.707,1.52,1.52,0,0,0,1.3.577c1.154,0,1.732-.77,1.732-2.285,0-1.539-.577-2.309-1.707-2.309a1.52,1.52,0,0,0-1.3.577A2.863,2.863,0,0,0,953.015,314.487Z" transform="translate(-943.66 -311)" fill="#9792e4"/>
                          <path id="Path_8790" data-name="Path 8790" d="M985.186,318.206l-1.635-5.339H983.5c.048,1.082.1,1.8.1,2.164v3.174h-1.3V311.4h1.972l1.611,5.195h.024l1.708-5.195h1.972v6.806H988.24v-3.752q0-.289.072-1.587h-.048l-1.756,5.339Z" transform="translate(-967.053 -311.304)" fill="#9792e4"/>
                        </g>
                        <g id="Group_637" data-name="Group 637" transform="translate(56.3 144.7)">
                          <g id="Group_636" data-name="Group 636" transform="translate(0 0)">
                            <g id="Group_631" data-name="Group 631" transform="translate(1.641)">
                              <path id="Path_8791" data-name="Path 8791" d="M63.647,161.414a.53.53,0,0,1-.481-.746l.577-1.347a24.333,24.333,0,0,1,44.611-.024l.553,1.251a.605.605,0,0,1-.529.842H106.5a.6.6,0,0,1-.529-.313l-1.347-2.645a21.372,21.372,0,0,0-37.132.024L66.1,161.126a.539.539,0,0,1-.457.289Z" transform="translate(-63.124 -144.7)" fill="#9792e4"/>
                            </g>
                            <g id="Group_632" data-name="Group 632" transform="translate(1.803 32.611)">
                              <path id="Path_8792" data-name="Path 8792" d="M64.4,280.324l44.443-.024a.717.717,0,0,1,.649,1.01l-.481,1.082a24.333,24.333,0,0,1-44.611.024l-.553-1.227A.614.614,0,0,1,64.4,280.324Zm39.97,2.934-35.16.024a.6.6,0,0,0-.505.938,21.372,21.372,0,0,0,36.074-.144A.514.514,0,0,0,104.369,283.258Z" transform="translate(-63.798 -280.3)" fill="#9792e4"/>
                            </g>
                            <g id="Group_633" data-name="Group 633" transform="translate(0 17.676)">
                              <path id="Path_8793" data-name="Path 8793" d="M56.3,224.958a18.558,18.558,0,0,1,.794-5.772l.192-.529a3.693,3.693,0,0,0,.216-.457h44.275c3.054,0,2.886.216,2.958.529l.168.529a23.208,23.208,0,0,1-.072,11.784l-.12.457a.76.76,0,0,1-.577.529l-.457.072c-5.531.914-18.566.505-22.727-6.4-5.964,8.73-21.74,6.517-22.63,6.421l-.529-.072a.667.667,0,0,1-.577-.505l-.12-.529A23.709,23.709,0,0,1,56.3,224.958Zm3.2-3.2a20.935,20.935,0,0,0,.072,6.95.715.715,0,0,0,.649.6c4.954.361,17.219.746,19.312-7.672l.12-.481H60.22A.727.727,0,0,0,59.5,221.759Zm42.9,0a.7.7,0,0,0-.7-.6H82.249l.12.481c2.02,8.153,15.391,8.032,19.312,7.7a.717.717,0,0,0,.625-.553A20.322,20.322,0,0,0,102.4,221.759Z" transform="translate(-56.3 -218.2)" fill="#9792e4"/>
                            </g>
                            <g id="Group_634" data-name="Group 634" transform="translate(32.659 13.611)">
                              <path id="Path_8794" data-name="Path 8794" d="M192.1,201.993v1.515a.724.724,0,0,0,.721.721h9.042a.707.707,0,0,0,.625-1.034l-.746-1.515a.693.693,0,0,0-.625-.385h-8.273A.682.682,0,0,0,192.1,201.993Z" transform="translate(-192.1 -201.295)" fill="#9792e4"/>
                            </g>
                            <g id="Group_635" data-name="Group 635" transform="translate(6.342 13.756)">
                              <path id="Path_8795" data-name="Path 8795" d="M93.14,202.621v1.515a.724.724,0,0,1-.721.721H83.376a.707.707,0,0,1-.625-1.034l.746-1.515a.716.716,0,0,1,.625-.409h8.273A.715.715,0,0,1,93.14,202.621Z" transform="translate(-82.671 -201.9)" fill="#9792e4"/>
                            </g>
                          </g>
                        </g>
                        <g id="Group_638" data-name="Group 638" transform="translate(100.959 147.249)">
                          <path id="Path_8796" data-name="Path 8796" d="M242,156.983a1.754,1.754,0,0,1,.216-.842,1.731,1.731,0,0,1,.625-.625,1.745,1.745,0,0,1,1.683,0,1.732,1.732,0,0,1,.625.625,1.745,1.745,0,0,1,0,1.683,1.87,1.87,0,0,1-.6.625,1.8,1.8,0,0,1-.866.24,1.57,1.57,0,0,1-.866-.24,1.507,1.507,0,0,1-.6-.625A1.754,1.754,0,0,1,242,156.983Zm.313,0a1.45,1.45,0,0,0,.192.7,1.275,1.275,0,0,0,.505.505,1.361,1.361,0,0,0,.673.192,1.45,1.45,0,0,0,.7-.192,1.276,1.276,0,0,0,.505-.505,1.36,1.36,0,0,0,.192-.673,1.449,1.449,0,0,0-.192-.7,1.275,1.275,0,0,0-.505-.505,1.36,1.36,0,0,0-.673-.192,1.449,1.449,0,0,0-.7.192,1.275,1.275,0,0,0-.505.505A1.293,1.293,0,0,0,242.313,156.983Zm2.068-.409a.513.513,0,0,1-.313.529l.529.89h-.577l-.409-.77h-.1v.77h-.505v-2.044h.6a.856.856,0,0,1,.6.168A.658.658,0,0,1,244.381,156.575Zm-.866.289h.072a.29.29,0,1,0,0-.577h-.072Z" transform="translate(-242 -155.3)" fill="#9792e4"/>
                        </g>
                      </g>
                    </svg>
                    {%- if section.settings.enable_transparent and template.name == 'index' and section.settings.transparent_logo != blank -%}
                      <img class="logo__image-transparent" src="{{ section.settings.transparent_logo | img_url: img_size }}" alt="{{ section.settings.transparent_logo.alt | escape }}" width="{{ section.settings.transparent_logo.width }}" height="{{ section.settings.transparent_logo.height }}" aria-hidden="true"/>
                    {%- endif -%}

                  {%- else -%}
                    <span class="logotext">{{ shop.name }}
                    </span>
                  {%- endif -%}
                </a>

                {%- if request.page_type == 'index' and section.settings.logo_h1 -%}
                </h1>
              {%- endif -%}
            </div>
          </div>
        </div>

        <div class="logo-area__right">
          <div class="logo-area__right__inner">
            <div class="country_selector dropdown">
              <a class="dropbtn" href="#">
                <img src="https://cdn.shopify.com/s/files/1/0536/9115/4590/files/UK_Flag_icon.svg?v=1665048505" alt="." width="24" height="24" loading="lazy">
                <span>UK</span>
                {% render 'icon-toggle-menu', stroke_width: 1.3 %}
              </a>              
              <div class="dropdown-content">
                <a class="dropbtn" href="https://chill.com">
                  <img src="https://cdn.shopify.com/s/files/1/0536/9115/4590/files/USA_Flag_icon.svg?v=1665047699" alt="." width="24" height="24" loading="lazy">
                  <span>USA</span>                  
                </a>
              </div>
            </div>
            {% if shop.customer_accounts_enabled %}
              {% if customer %}
                <a class="header-account-link" href="{{ routes.account_url }}" aria-label="{{ 'layout.customer.account' | t | escape }}">
                  <span class="header-account-link__icon{% if section.settings.icon_strategy == 'icons_cart_search' %} mobile-only{% endif %}">{% render 'svg-custom-user' %}
                  </span>
                  <span class="header-account-link__text desktop-only{% if section.settings.icon_strategy == 'icons_only' %} visually-hidden{% endif %}">{{ 'layout.customer.account' | t | escape }}
                  </span>
                </a>
              {% else %}
                <a class="header-account-link" href="{{ routes.account_login_url }}" aria-label="{{ 'layout.customer.account' | t | escape }}">
                  <span class="header-account-link__icon{% if section.settings.icon_strategy == 'icons_cart_search' %} mobile-only{% endif %}">{% render 'svg-custom-user' %}
                  </span>
                  <span class="header-account-link__text desktop-only{% if section.settings.icon_strategy == 'icons_only' %} visually-hidden{% endif %}">{{ 'layout.customer.account' | t | escape }}
                  </span>
                </a>
              {% endif %}
            {% endif %}
            {% if section.settings.enable_search %}
              <a class="show-search-link" href="{{ routes.search_url }}">
                <span class="show-search-link__icon">
                  {%- render 'svg-search' -%}
                </span>
                <span class="show-search-link__text{% if section.settings.icon_strategy == 'icons_only' %} visually-hidden{% endif %}">
                  {{- 'layout.search.open' | t -}}
                </span>
              </a>
            {% endif %}
            <a href="{% if settings.cart_type != "drawer" %}{{ routes.cart_url }}{% else %}#{% endif %}" class="cart-link">
              <span class="cart-link__icon {%if section.settings.cart_icon == 'custom' %}custom_bag{% endif %}">
                {%- if section.settings.cart_icon == 'basket' -%}
                  {%- render 'svg-basket' -%}
                {%- elsif section.settings.cart_icon == 'bag' -%}
                  {%- render 'svg-bag' -%}
                {%- elsif section.settings.cart_icon == 'custom' -%}
                  {%- render 'svg-custom-bag' -%}
                {%- else -%}
                  {%- render 'svg-cart' -%}
                {%- endif -%}
                {%- if cart.item_count > 0 -%}
                  <span class="cart-link__count">{{ cart.item_count }}
                  </span>
                {%- endif -%}
              </span>
              <span class="cart-link__label{% if section.settings.icon_strategy == 'icons_only' %} visually-hidden{% endif %}">
                {{- 'layout.header.cart' | t | escape -}}
              </span>
            </a>
          </div>
        </div>
      </div>

      {%- if section.settings.enable_search -%}
        {%- liquid
           assign show_search_suggestions = false
           if section.settings.search_suggestions_title != blank or section.settings.search_suggestions_menu != blank
             assign show_search_suggestions = true
           endif
         -%}
        <div id="main-search" class="main-search {% if show_search_suggestions %}main-search--with-suggestions{% endif %}" data-live-search="{{ settings.enable_live_search }}" data-live-search-price="{{ settings.live_search_show_price }}" data-live-search-vendor="{{ settings.live_search_show_vendor }}" data-live-search-meta="{{ settings.live_search_search_meta }}" data-per-row-mob="{{ settings.prod_thumb_mob_per_row }}">

          <div class="main-search__container container">
            <button class="main-search__close button notabutton" aria-label="{{ 'layout.search.close' | t | escape }}">{% render 'svg-x' %}
            </button>

            <form class="main-search__form" action="{{ routes.search_url }}" method="get" autocomplete="off">
              <input type="hidden" name="type" value="{{ settings.search_type }}"/>
              <input type="hidden" name="options[prefix]" value="last"/>
              <div class="main-search__input-container">
                <input class="main-search__input" type="text" name="q" autocomplete="off" placeholder="{{ 'layout.search.placeholder' | t | escape }}" aria-label="{{ 'layout.search.title' | t | escape }}"/>
              </div>
              <button class="main-search__button button notabutton" type="submit" aria-label="{{ 'layout.header.search_submit' | t }}">{% render 'svg-search' %}
              </button>
            </form>

            <div class="main-search__results"></div>

            {% if show_search_suggestions %}
              <div class="main-search__suggestions">
                {% if section.settings.search_suggestions_title != blank %}
                  <div class="h4-style heading-font">{{ section.settings.search_suggestions_title }}
                  </div>
                {% endif %}
                {% if section.settings.search_suggestions_menu != blank %}
                  {%- liquid
                    assign suggestions_menu = linklists[section.settings.search_suggestions_menu]
  
                    if settings.coll_grid_image_shape == 'portrait-23'
                      assign collection_aspect_ratio = 0.67
                    elsif settings.coll_grid_image_shape == 'portrait-45'
                      assign collection_aspect_ratio = 0.8
                    elsif settings.coll_grid_image_shape == 'square'
                      assign collection_aspect_ratio = 1.0
                    elsif settings.coll_grid_image_shape == 'landscape-54'
                      assign collection_aspect_ratio = 1.25
                    elsif settings.coll_grid_image_shape == 'landscape-32'
                      assign collection_aspect_ratio = 1.50
                    elsif settings.coll_grid_image_shape == 'tallest'
                      assign collection_aspect_ratio = 999
                      for link in suggestions_menu.links
                        for child_link in link.links
                          if child_link.type == 'collection_link'
                            if child_link.object.featured_image.aspect_ratio < collection_aspect_ratio
                              assign collection_aspect_ratio = child_link.object.featured_image.aspect_ratio
                            endif
                          endif
                        endfor
  
                        if link.type == 'collection_link'
                          if link.object.featured_image.aspect_ratio < collection_aspect_ratio
                            assign collection_aspect_ratio = link.object.featured_image.aspect_ratio
                          endif
                        endif
                      endfor
                    else
                      assign collection_aspect_ratio = 0
                      for link in suggestions_menu.links
                        for child_link in link.links
                          if child_link.type == 'collection_link' and child_link.object.featured_image.aspect_ratio > collection_aspect_ratio
                            assign collection_aspect_ratio = child_link.object.featured_image.aspect_ratio
                          endif
                        endfor
  
                        if link.type == 'collection_link' and link.object.featured_image.aspect_ratio > collection_aspect_ratio
                          assign collection_aspect_ratio = link.object.featured_image.aspect_ratio
                        endif
                      endfor
                    endif
  
                    if settings.prod_thumb_shape == 'portrait-23'
                      assign product_aspect_ratio = 0.67
                    elsif settings.prod_thumb_shape == 'portrait-45'
                      assign product_aspect_ratio = 0.8
                    elsif settings.prod_thumb_shape == 'square'
                      assign product_aspect_ratio = 1.0
                    elsif settings.prod_thumb_shape == 'landscape-54'
                      assign product_aspect_ratio = 1.25
                    elsif settings.prod_thumb_shape == 'landscape-32'
                      assign product_aspect_ratio = 1.50
                    elsif settings.prod_thumb_shape == 'tallest'
                      assign product_aspect_ratio = 99
                      for link in suggestions_menu.links
                        for child_link in link.links
                          if child_link.type == 'product_link' and child_link.object.featured_media.preview_image.aspect_ratio < product_aspect_ratio
                            assign product_aspect_ratio = child_link.object.featured_media.preview_image.aspect_ratio
                          endif
                        endfor
                        if link.type == 'product_link' and link.object.featured_media.preview_image.aspect_ratio < product_aspect_ratio
                          assign product_aspect_ratio = link.object.featured_media.preview_image.aspect_ratio
                        endif
                      endfor
                    else
                      assign product_aspect_ratio = 0
                      for link in suggestions_menu.links
                        for child_link in link.links
                          if child_link.type == 'product_link' and child_link.object.featured_media.preview_image.aspect_ratio > product_aspect_ratio
                            assign product_aspect_ratio = child_link.object.featured_media.preview_image.aspect_ratio
                          endif
                        endfor
                        if link.type == 'product_link' and link.object.featured_media.preview_image.aspect_ratio > product_aspect_ratio
                          assign product_aspect_ratio = link.object.featured_media.preview_image.aspect_ratio
                        endif
                      endfor
                    endif
                  -%}
                  <div class="search-suggestions">
                    <div class="search-suggestions__item-row">
                      {% for link in suggestions_menu.links %}
                        {% if link.links != blank %}
                          <div class="search-suggestions__item search-suggestions__item--with-row">
                            <div class="search-suggestions__heading h5-style heading-font">
                              <a href="{{ link.url }}">{{ link.title | escape }}
                              </a>
                            </div>
                            <div class="search-suggestions__item-row">
                              {% for child_link in link.links %}
                                <div class="search-suggestions__item">
                                  {% if child_link.type == 'collection_link' %}
                                    {% render 'collection-block', collection: child_link.object, custom_aspect_ratio: collection_aspect_ratio, manual_image_load: true %}
                                  {% elsif child_link.type == 'product_link' %}
                                    {% render 'product-block', product: child_link.object, custom_aspect_ratio: product_aspect_ratio, manual_image_load: true %}
                                  {% else %}
                                    <a class="search-suggestions__link" href="{{ child_link.url }}">{{ child_link.title | escape }}
                                    </a>
                                  {% endif %}
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        {% else %}
                          <div class="search-suggestions__item">
                            {% if link.type == 'collection_link' %}
                              {% render 'collection-block', collection: link.object, custom_aspect_ratio: collection_aspect_ratio, manual_image_load: true %}
                            {% elsif link.type == 'product_link' %}
                              {% render 'product-block', product: link.object, custom_aspect_ratio: product_aspect_ratio, manual_image_load: true %}
                            {% else %}
                              <a class="search-suggestions__link" href="{{ link.url }}">{{ link.title | escape }}
                              </a>
                            {% endif %}
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      {%- endif -%}
    </div>

    <div id="main-nav" class="desktop-only">
      <div class="navigation navigation--main" role="navigation" aria-label="{{ 'general.navigation.main_navigation_aria_label' | t | escape }}">
        <div class="navigation__tier-1-container">
          {% render 'main-nav-links', link_list: section.settings.menu_linklist, mobile: false, featured_links: featured_links %}
        </div>
      </div>
    </div>

    {%- assign mobile_linklist = section.settings.menu_linklist_mobile | default: section.settings.menu_linklist -%}
    <script class="mobile-navigation-drawer-template" type="text/template">
      <div class="mobile-navigation-drawer" data-mobile-expand-with-entire-link="{{ mobile_expand_with_entire_link }}">
        <div class="navigation navigation--main" role="navigation" aria-label="{{ 'general.navigation.main_navigation_aria_label' | t | escape }}">
          <div class="navigation__tier-1-container">
            <div class="navigation__mobile-header">
              <a href="#" class="mobile-nav-toggle" aria-label="{{ 'general.accessibility_labels.close' | t }}">{% render 'svg-x', stroke_width: 1.3 %}
              </a>
              <span class="mobile-nav-title"></span>
              <a href="#" class="mobile-nav-back ltr-icon" aria-label="{{ 'layout.navigation.back' | t }}">{% render 'svg-chevron-left', stroke_width: 1.3 %}
              </a>
            </div>
            {% render 'main-nav-links', link_list: mobile_linklist, mobile: true, featured_links: featured_links %}
            {% if section.settings.enable_nav_mob_products %}
              <div class="navigation__mobile-products">
                <div class="navigation__mobile-products-title">{{ section.settings.nav_mob_products_title | escape }}
                </div>
                <div class="product-list product-list--scrollarea">
                  {% for product in collections[section.settings.nav_mob_products_collection].products limit: 10 %}
                    {% render 'product-block', product: product, no_swiping: true, no_quick_buy_markup: true, manual_image_load: true %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </script>

    <a href="#" class="header-shade mobile-nav-toggle" aria-label="{{ 'general.navigation_menu.toggle_aria_label' }}"></a>
  </div>

  {%- if section.settings.menu_layout contains 'inline' -%}
    <script id="InlineNavigationCheckScript">
      theme.inlineNavigationCheck = function() {
        var pageHeader = document.querySelector('.pageheader'),
          inlineNavContainer = pageHeader.querySelector('.logo-area__left__inner'),
          inlineNav = inlineNavContainer.querySelector('.navigation--left');
        if (inlineNav && getComputedStyle(inlineNav).display != 'none') {
          var inlineMenuCentered = document.querySelector('.pageheader--layout-inline-menu-center'),
            logoContainer = document.querySelector('.logo-area__middle__inner');
          if (inlineMenuCentered) {
            var rightWidth = document.querySelector('.logo-area__right__inner').clientWidth,
              middleWidth = logoContainer.clientWidth,
              logoArea = document.querySelector('.logo-area'),
              computedLogoAreaStyle = getComputedStyle(logoArea),
              logoAreaInnerWidth = logoArea.clientWidth - Math.ceil(parseFloat(computedLogoAreaStyle.paddingLeft)) - Math.ceil(parseFloat(computedLogoAreaStyle.paddingRight)),
              availableNavWidth = logoAreaInnerWidth - Math.max(rightWidth, middleWidth) * 2 - 40;
            inlineNavContainer.style.maxWidth = availableNavWidth + 'px';
          }

          var firstInlineNavLink = inlineNav.querySelector('.navigation__item:first-child'),
            lastInlineNavLink = inlineNav.querySelector('.navigation__item:last-child');
          if (lastInlineNavLink) {
            var inlineNavWidth = null;
            if (document.querySelector('html[dir=rtl]')) {
              inlineNavWidth = firstInlineNavLink.offsetLeft - lastInlineNavLink.offsetLeft + firstInlineNavLink.offsetWidth;
            } else {
              inlineNavWidth = lastInlineNavLink.offsetLeft - firstInlineNavLink.offsetLeft + lastInlineNavLink.offsetWidth;
            }
            if (inlineNavContainer.offsetWidth >= inlineNavWidth) {
              pageHeader.classList.add('pageheader--layout-inline-permitted');
              var tallLogo = logoContainer.clientHeight > lastInlineNavLink.clientHeight + 1;
              if (tallLogo) {
                inlineNav.classList.add('navigation--tight-underline');
              } else {
                inlineNav.classList.remove('navigation--tight-underline');
              }
            } else {
              pageHeader.classList.remove('pageheader--layout-inline-permitted');
            }
          }
        }
      }
      theme.inlineNavigationCheck();
    </script>
  {%- endif -%}

{%- endif -%}

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "520 x 200px (recommended)"
      },
      {
        "type": "range",
        "id": "logo_img_width_int",
        "min": 30,
        "max": 500,
        "step": 5,
        "unit": "px",
        "label": "Logo width",
        "default": 180
      },
      {
        "type": "range",
        "id": "mobile_logo_img_width_int",
        "min": 30,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Mobile logo width",
        "default": 100
      },
      {
        "type": "checkbox",
        "id": "logo_h1",
        "label": "Enable logo <h1> on home page",
        "info": "For SEO. Deselect only if another section on the home page contains a primary page heading. [Learn more](https://cleancanvas.co.uk/support/symmetry/section-h1-setting)",
        "default": true
      }, {
        "type": "checkbox",
        "id": "enable_sticky",
        "label": "Enable sticky header",
        "default": false
      }, {
        "type": "header",
        "content": "Transparent header"
      }, {
        "type": "paragraph",
        "content": "Home page only. Ensure a full width image section is at the top, like a slideshow."
      }, {
        "type": "paragraph",
        "content": "Store messages will be hidden."
      }, {
        "type": "checkbox",
        "id": "enable_transparent",
        "label": "Enable transparent header",
        "default": false
      }, {
        "type": "color",
        "id": "transparent_color",
        "label": "Text color",
        "default": "#ffffff"
      }, {
        "type": "image_picker",
        "id": "transparent_logo",
        "label": "Logo",
        "info": "Match your main logo size."
      }, {
        "type": "header",
        "content": "Mega Menu Main Heading and Links"
      }, {
        "type": "text",
        "id": "mega_collection_heading",
        "label": "Colletion Heading",
        "default": "By Collection"
      }, {
        "type": "text",
        "id": "shop_text",
        "label": "Shop Text",
        "default": "Shop all"
      }, {
        "type": "url",
        "id": "shop_link",
        "label": "Shop Link"
      }, {
        "type": "header",
        "content": "Navigation"
      }, {
        "type": "link_list",
        "id": "menu_linklist",
        "label": "Menu",
        "default": "main-menu"
      }, {
        "type": "link_list",
        "id": "menu_linklist_mobile",
        "label": "Mobile menu",
        "info": "Select a different menu for mobile. Main menu is used if not selected."
      }, {
        "type": "select",
        "id": "menu_layout",
        "label": "Menu alignment",
        "info": "Alignment will switch to 'Underneath' if the links do not fit beside the logo",
        "options": [
          {
            "value": "inline-menu-left",
            "label": "Left"
          }, {
            "value": "inline-menu-center",
            "label": "Center"
          }, {
            "value": "underneath",
            "label": "Underneath"
          }
        ],
        "default": "underneath"
      }, {
        "type": "text",
        "id": "nav_featured_link",
        "label": "Featured link",
        "info": "Enter the title of a link to highlight it in a different color",
        "default": "Sale"
      }, {
        "type": "header",
        "content": "Mobile navigation"
      }, {
        "type": "checkbox",
        "id": "enable_mobile_promo_carousel",
        "label": "Enable carousel layout for menu promotions",
        "info": "Disabled for dropdown menus containing only promotions",
        "default": true
      }, {
        "type": "checkbox",
        "id": "enable_nav_mob_products",
        "label": "Enable featured products",
        "info": "Shows beneath the main menu",
        "default": false
      }, {
        "type": "text",
        "id": "nav_mob_products_title",
        "label": "Featured products title",
        "default": "Best Sellers"
      }, {
        "type": "collection",
        "id": "nav_mob_products_collection",
        "label": "Featured products collection"
      }, {
        "type": "header",
        "content": "Search"
      }, {
        "type": "checkbox",
        "id": "enable_search",
        "label": "Enable search",
        "default": true
      }, {
        "type": "text",
        "id": "search_suggestions_title",
        "label": "Suggestions title",
        "info": "Suggestions show when the search is opened."
      }, {
        "type": "link_list",
        "id": "search_suggestions_menu",
        "label": "Suggestions menu",
        "info": "Dropdown menus will show as separate rows. Links to collections and products will show images."
      }, {
        "type": "header",
        "content": "Icons"
      }, {
        "type": "select",
        "id": "icon_strategy",
        "label": "Show icons",
        "info": "Only icons show on mobile",
        "options": [
          {
            "value": "icons_cart_search",
            "label": "On cart and search"
          }, {
            "value": "icons_all",
            "label": "On all links"
          }, {
            "value": "icons_only",
            "label": "Only icons, no text"
          }
        ],
        "default": "icons_cart_search"
      }, {
        "type": "select",
        "id": "cart_icon",
        "label": "Cart icon",
        "options": [
          {
            "value": "bag",
            "label": "Bag"
          }, {
            "value": "basket",
            "label": "Basket"
          }, {
            "value": "custom",
            "label": "Custom Cart"
          }, {
            "value": "cart",
            "label": "Cart"
          }
        ],
        "default": "basket"
      }
    ],
    "blocks": [
      {
        "type": "menu-promotion-small",
        "name": "Small menu promotion",
        "settings": [
          {
            "type": "paragraph",
            "content": "Menu promotions are shown in dropdown menus. [Read more](https://cleancanvas.co.uk/support/symmetry/header)"
          },
          {
            "type": "text",
            "id": "dropdown_link_title",
            "label": "Link name",
            "info": "The name of any top-level link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
          }
        ]
      }, {
        "type": "menu-promotion-large",
        "name": "Mega Menu Collection",
        "settings": [
          {
            "type": "paragraph",
            "content": "Menu promotions are shown in dropdown menus. [Read more](https://cleancanvas.co.uk/support/symmetry/header)"
          }, {
            "type": "text",
            "id": "dropdown_link_title",
            "label": "Link name",
            "info": "The name of any top-level link"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }, {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
