{% style %}    
    {%- for block in section.blocks -%}
        {% case block.type %}                        
            {% when 'tabs-content' %}
            .explore-product-link .btn-explore-product{
                background: {{ block.settings.button_bg_color }};
                border: 1px solid {{ block.settings.button_bg_color }};
                color: {{ block.settings.button_text_color}};
            }
        {% endcase %}
    {%- endfor -%}
{% endstyle %}
<div class="home-ingredients-section fully-spaced-row--medium">
    <div class="container">
        <div class="ingredients-section-wrapper">
            <div class="heading_text align-{{ section.settings.text_alignment }}">
                <h2>
                    {{ section.settings.heading_text }}
                </h2>
                {{ section.settings.subheading_text}}
            </div>
            
            <div class="tab-content">
                <div class="tab-heading">
                    <ul class='tabs'>
                        {%- for block in section.blocks -%}
                            {% case block.type %}
                                {% when 'tabs-heading' %}
                                <li class='{% if forloop.first %}active{% endif %}' data-tab-id='tab{{ forloop.index }}'>{{ block.settings.title}}</li>
                            {% endcase %}
                        {% endfor%}
                    </ul>
                </div>              
                <div class='content-section'>
                    {%- for block in section.blocks -%}
                        {% case block.type %}
                            {% when 'tabs-content' %}
                            {% assign tab_id = tab_id | plus:1 %}
                            <div id='tab{{tab_id}}' class='content {% if tab_id == 1 %}active{% endif %}'>
                                <div class="tab-content-list">
                                    <div class="tab-content-item">
                                        {% if block.settings.image_one != blank %}
                                            <img src="{{ block.settings.image_one | img_url: '1920x'}}" alt="" />
                                        {% endif %}
                                        <h3>{{ block.settings.heading_one }}</h3>
                                        {{ block.settings.text_one}}
                                    </div>
                                    <div class="tab-content-item">
                                        {% if block.settings.image_two != blank %}
                                            <img src="{{ block.settings.image_two | img_url: '1920x'}}" alt="" />
                                        {% endif %}
                                        <h3>{{ block.settings.heading_two }}</h3>
                                        {{ block.settings.text_two}}
                                    </div>
                                    <div class="tab-content-item">
                                        {% if block.settings.image_three != blank %}
                                            <img src="{{ block.settings.image_three | img_url: '1920x'}}" alt="" />
                                        {% endif %}
                                        <h3>{{ block.settings.heading_three }}</h3>
                                        {{ block.settings.text_three}}
                                    </div>
                                </div>
                                <a class="explore-product-link" href="{{ block.settings.button_link }}">
                                    <button class="btn btn-explore-product">{{ block.settings.button_label }}</button>
                                </a>
                            </div>                            
                        {% endcase %}
                    {% endfor%}           
                </div>
            </div>                        
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Home Ingredients",
    "class": "section-home-ingredients",
    "settings": [
        {
            "type": "richtext",
            "id": "heading_text",
            "label": "Richtext Content",
            "default": "<p>Heading</p>"
        },
        {
            "type": "richtext",
            "id": "subheading_text",
            "label": "Text",
            "default": "<p>Use this text to share information about your store with your customers. Describe products, share announcements, or welcome customers to your store.</p>"
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
        }
    ],
    "blocks": [
        {
            "type": "tabs-heading",
            "name": "Tab Heading",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Tab title"
                }
            ]
        },
        {
            "type": "tabs-content",
            "name": "Tab Content Info Here",
            "settings": [
                {
                    "type": "paragraph",
                    "content": "Tab Content Info One"
                },
                {
                    "type": "image_picker",
                    "id": "image_one",
                    "label": "Choose image"
                },
                {
                    "type": "text",
                    "id": "heading_one",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "text_one",
                    "label": "Rich Text Content"
                },
                {
                    "type": "paragraph",
                    "content": "Tab Content Info Two"
                },
                {
                    "type": "image_picker",
                    "id": "image_two",
                    "label": "Choose image"
                },
                {
                    "type": "text",
                    "id": "heading_two",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "text_two",
                    "label": "Rich Text Content"
                },
                {
                    "type": "paragraph",
                    "content": "Tab Content Info Three"
                },
                {
                    "type": "image_picker",
                    "id": "image_three",
                    "label": "Choose image"
                },
                {
                    "type": "text",
                    "id": "heading_three",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "text_three",
                    "label": "Rich Text Content"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button",
                    "default": "Explore Products"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button link"
                },
                {
                    "type": "color",
                    "id": "button_bg_color",
                    "label": "Button Background color"
                },
                {
                    "type": "color",
                    "id": "button_text_color",
                    "label": "Button Text color"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Home Ingredients",
            "settings": {}
        }
    ]
}
{% endschema %}