{% liquid 
    assign animation_delay = 150
%}
<div class="icon-with-text-sec">
    <div class="container">
        <div class="icon-with-text-wrapper">
            <div class="icon-list">
                {%- for block in section.blocks -%}
                    {% case block.type %}
                        {% when 'icon-text' %}
                        <div class="icon-item" data-aos="fade"                        
                        data-aos-delay="{{ animation_delay }}"
                        {%- assign animation_delay = animation_delay | plus: 150 -%}>
                            {% if block.settings.icon_svg != blank %}
                                {{ block.settings.icon_svg }}
                            {% elsif block.settings.icon_image != blank %}                                
                                    <img src="{{ block.settings.icon_image | img_url: '1920x' }}" alt=""/>                                
                            {% endif %}
                            <h3>{{ block.settings.title }}</h3>
                            <p>{{ block.settings.subheading }}</p>
                        </div>
                    {% endcase %}
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Home Icons",
        "class": "section-home-icons",
        "settings": [
            
        ],
        "blocks": [
            {
                "type": "icon-text",
                "name": "Text and icon media",
                "settings": [
                    {
                        "id": "icon_image",
                        "type": "image_picker",
                        "label": "Choose image"
                    },
                    {
                        "id": "icon_svg",
                        "type": "html",
                        "label": "Choose svg icon"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Heading",
                        "default": "Icon title"
                    },
                    {
                        "type": "text",
                        "id": "subheading",
                        "label": "Subheading"
                    }, 
                    {
                        "type": "checkbox",
                        "id": "use_alt_bg",
                        "label": "Use alternate section color",
                        "default": false
                    }
                ]
            }            
        ],
        "presets": [
            {
                "name": "Home Icons",
                "settings": {}
            }
        ]
    }
{% endschema %}