{% style %}
  .chill-story-section {
    background: {{ section.settings.bg_color }};
  }
  .chill-story-section .chill-story-section-wrapper .chill-story-left-sec,
  .chill-story-section .chill-story-section-wrapper .chill-story-right-sec {
    color: {{ section.settings.text_color }};
  }
  @media(min-width:1200px) {
    .chill-story-section .chill-story-section-wrapper .chill-story-left-sec p {
      font-size: {{ section.settings.text_font_size }}px !important;
    }
  }
{% endstyle %}
<div class="chill-story-section">
  <div class="chill-story-block-section">
    <div class="chill-story-block-list">
      <div class="slider_wrapper" id="containerElem">
        <div class="slider_images" id="list">
          {% for block in section.blocks %}
            {% if block.settings.slider_image != blank %}
              <!-- <li class="list__item"> -->
                <img src="{{ block.settings.slider_image | img_url: 'master' }}" alt="slider_images">
              <!-- </li> -->
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="chill-story-section-wrapper">
      <div class="chill-story-left-sec">
        {{ section.settings.title }}
      </div>
      <div class="chill-story-right-sec">
        {{ section.settings.text }}
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Chill Story",
    "class": "section-chill-story",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Section Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Section Text Color"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Heading",
        "default": "<p>The Chill Story</p>"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Descritpion"
      }, {
        "type": "range",
        "id": "text_font_size",
        "label": "Left Heading font Size",
        "min": 40,
        "max": 112,
        "step": 2,
        "unit": "px",
        "default": 80
      }, {
        "type": "checkbox",
        "id": "use_alt_bg",
        "label": "Use alternate section color",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "id": "slider_image",
            "type": "image_picker",
            "label": "Slider Images"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Chill Story",
        "settings": {},
        "blocks": []
      }
    ]
  }
{% endschema %}
