{{ 'blog-category.css' | asset_url | stylesheet_tag }}
<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>

<predictive-search>
    <form action="{{ routes.search_url }}?type=article" method="get" role="search" class="search_section container predictive-search-form" autocomplete="off">
        <span for="Search" class="search_title container">{{ section.settings.search_title }}</span>
        <div class="search_block">
            <div class="search_input">
                <input
                id="Search"
                type="search"
                name="q"
                value="{{ search.terms | escape }}"
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results"
                aria-controls="predictive-search-results"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                placeholder="Seach..."
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none" class="search_icon">
                    <g clip-path="url(#clip0_3355_10245)">
                    <path d="M19.1754 19.9994L14.0581 15.0279C13.3806 15.6098 12.6015 16.061 11.7601 16.3589C10.8651 16.6802 9.92079 16.8415 8.97012 16.8357C7.85373 16.8576 6.74472 16.6501 5.7115 16.226C4.67828 15.802 3.74277 15.1705 2.96267 14.3703C2.16794 13.5991 1.53947 12.673 1.11609 11.6491C0.692697 10.6251 0.483371 9.52512 0.501031 8.417C0.483526 7.30906 0.692927 6.20928 1.11631 5.18555C1.5397 4.16181 2.16808 3.23584 2.96267 2.46479C3.73812 1.66633 4.6688 1.0356 5.69721 0.611561C6.72563 0.187518 7.82994 -0.0208297 8.94192 -0.00061056C10.0448 -0.0182633 11.1396 0.191495 12.1581 0.615624C13.1767 1.03975 14.0972 1.66918 14.8625 2.46479C15.6534 3.23793 16.2785 4.16459 16.6994 5.18805C17.1204 6.21152 17.3283 7.31025 17.3106 8.417C17.313 9.34603 17.1577 10.2687 16.8514 11.1457C16.5348 12.0413 16.0678 12.8762 15.4706 13.6144L20.501 18.7226L19.1754 19.9994ZM8.9374 14.8573C9.78176 14.871 10.6199 14.7102 11.3994 14.3849C12.1789 14.0597 12.8832 13.577 13.4681 12.967C14.0724 12.3751 14.55 11.6661 14.8718 10.8832C15.1935 10.1004 15.3528 9.26009 15.3397 8.41361C15.3528 7.56712 15.1935 6.72685 14.8718 5.944C14.55 5.16116 14.0724 4.45214 13.4681 3.86019C12.8826 3.25141 12.1781 2.76998 11.3986 2.44592C10.6191 2.12187 9.78127 1.96213 8.9374 1.97668C8.08601 1.96119 7.24046 2.12052 6.4529 2.44484C5.66535 2.76917 4.95246 3.25162 4.35821 3.86245C3.74957 4.45217 3.26809 5.16058 2.94346 5.94393C2.61884 6.72728 2.45798 7.56895 2.4708 8.417C2.45813 9.26485 2.61907 10.1063 2.94369 10.8895C3.26831 11.6726 3.74971 12.3808 4.35821 12.9704C4.95237 13.5814 5.66521 14.0641 6.45277 14.3886C7.24033 14.7131 8.08592 14.8727 8.9374 14.8573Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_3355_10245">
                    <rect width="20" height="20" fill="white" transform="translate(0.5)"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="blog_search_close_icon">
                <path d="M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        </div>
        <input name="options[prefix]" type="hidden" value="last">

        <div id="predictive-search" class="blog-category-section" tabindex="-1"></div>
        <div id="featured_blogs"></div>
        <div class="array_featured_blogs blog-category-item" style="display: none;">
        {% for block in section.blocks %}
            <div class="blog-category-item">
                {% render 'blog-tile', article: block.settings.article %}
            </div>
        {% endfor %}
        </div>
        
    </form>
</predictive-search>
<script>
    var searchInput = document.getElementById('Search');
    var blogSearchCloseIcon = document.querySelector('.blog_search_close_icon');
    searchInput.addEventListener('focus', () => {
        document.querySelector('body').style.position = 'fixed';
        document.querySelector('body').style.width = '100%';
    })
    blogSearchCloseIcon.addEventListener('click', () => {
        document.querySelector('body').style.position = 'relative';
    })

</script>
{% schema %}
{
    "name": "Predictive search",
    "settings":[
        {
            "type": "richtext",
            "id": "search_title",
            "label": "Search title",
            "default": "<p>Search<strong> Blogs</strong></p>"
        }
    ],
    "blocks": [
        {
            "type": "select",
            "name": "Select Featured blogs",
            "limit": 3,
            "settings": [
                {
                    "type": "article",
                    "id": "article",
                    "label": "Select an article"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Predictive search"
        }
    ]
}
{% endschema %}
