<div
  id="section-id-{{ section.id }}"
  class="{% unless section.settings.full_width %}container fully-spaced-row{% endunless %} video-image-section"
  data-section-type="background-video"
  data-cc-animate
>
  {% style %}
    #section-id-{{ section.id }} .overlay-text__title {
      font-size: {{ section.settings.title_size_mobile }}px;
      {%- if section.settings.title_size_mobile >= 90 -%}
      line-height: 1em;
      {%- endif %}
    }
    #section-id-{{ section.id }} .overlay-text__title{
      color: {{section.settings.heading-color}}
    }
    #section-id-{{ section.id }} .overlay-text__rte{
      color: {{section.settings.richtext-color}}
    }
    @media (min-width: 768px) {
      #section-id-{{ section.id }} .overlay-text__title {
        {%- assign title_size_medium = section.settings.title_size | times: 0.7 | at_least: section.settings.title_size_mobile -%}
        font-size: {{ title_size_medium }}px;
        {%- if title_size_medium >= 90 -%}
        line-height: 1em;
        {%- endif %}
      }
    }
    @media (min-width: 1100px) {
      #section-id-{{ section.id }} .overlay-text__title {
        font-size: {{ section.settings.title_size }}px;
        {%- if section.settings.title_size >= 90 -%}
        line-height: 1em;
        {%- endif %}
      }
    }
    #section-id-{{ section.id }} .overlay-text__button.button{
      background-color: {{ section.settings.botton_bg }};
      color: {{ section.settings.botton_text_color }};
      font-size:{{section.settings.button-font-size}}px;
    }
    #section-id-{{ section.id }} .video-container{
      height: 38.75rem !important;
    }
    @media (min-width: 1640px){
      #section-id-{{ section.id }} .video-container{
        height: 45.75rem !important;
      }
    }
    @media(max-width:520px){
      #section-id-{{ section.id }} .video-container{
        height: 28rem !important;
      }
    }
    @media(max-width:767px){   
      .overlay--v-{{ section.settings.text_alignment | split: ' ' | first }}{
          align-items: {{ section.settings.text_alignment_mobile | split: ' ' | first }} !important;
      }
      .overlay--h-{{ section.settings.text_alignment | split: ' ' | last }}{
          text-align: {{ section.settings.text_alignment_mobile | split: ' ' | last }} !important;
      }
    }
  {% endstyle %}

  {% if section.settings.video != blank %}
    <div
      class="height--fixed video-container video-container--background image-overlay image-overlay--bg-{{ section.settings.overlay_style }}"
      data-video-url="{{ section.settings.video | escape }}"
      data-video-autoplay="true"
      data-video-loop="true"
      data-cc-animate
    >
      <div class="video-container__video"></div>

      {% if section.settings.placeholder_image %}
        <div
          class="video-container__fallback rimage-outer-wrapper rimage-background lazyload fade-in"
          data-bgset="{% render 'bgset', image: section.settings.placeholder_image %}"
          data-sizes="auto"
          data-parent-fit="cover"
        >
          <noscript>
            <div
              class="rimage-wrapper"
              style="padding-top:{{ 1 | divided_by: section.settings.placeholder_image.aspect_ratio | times: 100 }}%"
            >
              <img
                src="{{ section.settings.placeholder_image | img_url: '1024x1024' }}"
                alt="{{ section.settings.placeholder_image.alt | escape }}"
                class="rimage__image"
              >
            </div>
          </noscript>
        </div>
      {% endif %}
    </div>
  {% elsif section.settings['herobanner-image'] != blank %}
    <div
      class="rimage-wrapper video-container"
      style="padding-top:{{ 1 | divided_by: section.settings.herobanner-image.aspect_ratio | times: 100 }}%"
    >
      <img
        src="{{ section.settings.herobanner-image | img_url: '1024x1024' }}"
        alt="{{ section.settings.herobanner-image.alt | escape }}"
        class="rimage__image"
      >
    </div>

  {% else %}
    <div
      class="rimage-wrapper video-container default-desktop-image"
      style="padding-top:{{ 1 | divided_by: section.settings.herobanner-image.aspect_ratio | times: 100 }}%"
    >
      <img
        src="https://cdn.shopify.com/s/files/1/0536/9115/4590/files/Group_1000005214.png?v=1689939082"
        alt="vape image"
        class="rimage__image_default"
      >
    </div>
    <div
      class="rimage-wrapper video-container default-mob-image"
      style="padding-top:{{ 1 | divided_by: section.settings.herobanner-image.aspect_ratio | times: 100 }}%"
    >
      <img
        src="https://cdn.shopify.com/s/files/1/0536/9115/4590/files/Group_1000005215.png?v=1689939874"
        alt="vape image"
        class="rimage__image_default"
      >
    </div>
  {% endif %}

  {%- assign show_overlay_text = false -%}
  {%- if section.settings.title != blank
    or section.settings.subheading != blank
    or section.settings.text != blank
    or section.settings.button_label__1 != blank
    or section.settings.button_label__2 != blank
  -%}
    {%- assign show_overlay_text = true -%}
  {%- endif -%}

  {%- if show_overlay_text -%}
    <div class="overlay-text overlay-text--for-banner overlay--v-{{ section.settings.text_alignment | split: ' ' | first }} overlay--h-{{ section.settings.text_alignment | split: ' ' | last }} image-overlay__over ">
      <div class="overlay-text__inner">
        <div class="overlay-text__text" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.5s">
          {%- if section.settings.subheading != blank -%}
            <div class="overlay-text__subheading subheading subheading--over">
              {{ section.settings.subheading | escape }}
            </div>
          {%- endif -%}
          {%- if section.settings.title != blank -%}
            {% if section.settings.use_h1 %}
              <h1 class="overlay-text__title">{{ section.settings.title | newline_to_br }}</h1>
            {% else %}
              <h2 class="overlay-text__title h1-style">{{ section.settings.title | newline_to_br }}</h2>
            {% endif %}
          {%- endif -%}
          {%- if section.settings.text != blank -%}
            <div class="overlay-text__rte rte {% if section.settings.enlarge_text %}large-text{% endif %}">
              {{ section.settings.text }}
            </div>
          {%- endif -%}
          {%- if section.settings.button_label__1 != blank or section.settings.button_label__2 != blank -%}
            <div class="overlay-text__button-row">
              {%- if section.settings.button_label__1 != blank -%}
                <a class="overlay-text__button button altcolour" href="{{ section.settings.button_url_1 }}">
                  {{- section.settings.button_label__1 -}}
                </a>
              {%- endif -%}
              {%- if section.settings.button_label__2 != blank -%}
                <a class="overlay-text__button button altcolour" href="{{ section.settings.button_url_2 }}">
                  {{- section.settings.button_label__2 -}}
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Background video/image",
  "class": "section-background-video",
  "settings": [
    {
      "type": "paragraph",
      "content": "Background videos play on loop, with no sound. If you need a video with sound use the Video section."
    },
    {
      "id": "video",
      "type": "text",
      "label": "Video link",
      "info": "Supports mp4, YouTube and Vimeo. Please read documentation before using. [Read more](https://cleancanvas.co.uk/support/general/background-video)",
      "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
    },
    {
      "id": "placeholder_image",
      "type": "image_picker",
      "label": "Placeholder image",
      "info": "Required. Shows while the video is loading, or if it cannot autoplay."
    },
    {
      "id": "herobanner-image",
      "type": "image_picker",
      "label": "Image",
      "info": "This will be the place holder image when there is no video."
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Tell your story"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Heading",
      "default": "Background video"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 20,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Desktop heading text size",
      "default": 84
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 20,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Mobile heading text size",
      "default": 32
    },
    {
      "type": "range",
      "id": "button-font-size",
      "min": 16,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Button text size",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "use_h1",
      "label": "Set as primary page heading",
      "info": "Use <h1> tag. One per page recommended. [Read more](https://cleancanvas.co.uk/support/symmetry/section-h1-setting)",
      "default": false
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use a video to get a customer's attention<\/p>"
    },
    {
      "type": "color",
      "id": "heading-color",
      "label": "Heading color"
    },
    {
      "type": "color",
      "id": "richtext-color",
      "label": "Heading color"
    },
    {
      "type": "checkbox",
      "id": "enlarge_text",
      "label": "Enlarge text",
      "default": true
    },
    {
      "type": "text",
      "id": "button_label__1",
      "label": "Button 1 label"
    },
    {
      "type": "url",
      "id": "button_url_1",
      "label": "Button 1 link"
    },
    {
      "type": "text",
      "id": "button_label__2",
      "label": "Button 2 label"
    },
    {
      "type": "url",
      "id": "button_url_2",
      "label": "Button 2 link"
    },

    {
      "type": "color",
      "id": "botton_bg",
      "label": "Button background color"
    },
    {
      "type": "color",
      "id": "botton_text_color",
      "label": "Button Text color"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text overlay position",
      "options": [
        {
          "value": "top left",
          "label": "Top left"
        },
        {
          "value": "top center",
          "label": "Top center"
        },
        {
          "value": "top right",
          "label": "Top right"
        },
        {
          "value": "center left",
          "label": "Middle left"
        },
        {
          "value": "center center",
          "label": "Middle center"
        },
        {
          "value": "center right",
          "label": "Middle right"
        },
        {
          "value": "bottom left",
          "label": "Bottom left"
        },
        {
          "value": "bottom center",
          "label": "Bottom center"
        },
        {
          "value": "bottom right",
          "label": "Bottom right"
        }
      ],
      "default": "center center"
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "label": "Text overlay position Mobile",
      "options": [
        {
          "value": "top left",
          "label": "Top left"
        },
        {
          "value": "top center",
          "label": "Top center"
        },
        {
          "value": "top right",
          "label": "Top right"
        },
        {
          "value": "center left",
          "label": "Middle left"
        },
        {
          "value": "center center",
          "label": "Middle center"
        },
        {
          "value": "center right",
          "label": "Middle right"
        },
        {
          "value": "end left",
          "label": "End left"
        },
        {
          "value": "end center",
          "label": "End center"
        },
        {
          "value": "end right",
          "label": "End right"
        }
      ],
      "default": "center center"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "id": "full_width",
      "type": "checkbox",
      "label": "Full page width",
      "default": true
    },
    {
      "id": "overlay_style",
      "type": "select",
      "label": "Overlay style",
      "default": "shadow",
      "options": [
        {
          "value": "full",
          "label": "Tint"
        },
        {
          "value": "box",
          "label": "Box"
        },
        {
          "value": "shadow",
          "label": "Text shadow"
        },
        {
          "value": "full image-overlay--bg-shadow",
          "label": "Text shadow and tint"
        },
        {
          "value": "no_background",
          "label": "No background"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Background video/image"
    }
  ]
}
{% endschema %}
